.address_wrapper h2{
    padding-top: 5rem;
    padding-bottom: 7.625rem;
}
.address_wrapper .form_wrapper h4{
    margin-bottom: 2.75rem;
}
.address_wrapper .shopping_bag_wrapper{
    padding-left: 16.25rem;
}
.address_wrapper .form_wrapper .input_wrapper{
    max-width: 52.25rem;
}
.address_wrapper .form_wrapper .payment_info .head_less{
    margin-top: 6rem;
}
.address_wrapper .form_wrapper .row,
.address_wrapper .form_wrapper .input_wrapper .row{
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
.address_wrapper .form_wrapper .row>*{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


.head_less{
    margin-top: 3.5rem;
    padding: 1.8rem;
}
@media (max-width:575.98px) {
    .address_wrapper .shopping_bag_wrapper {
        padding-left: 0;
        padding-bottom: 7.5rem;
    }    
    .address_wrapper .form_wrapper .head_less{
        margin-top: 0 !important;
    }
    .address_wrapper .container{
        padding: 0 4rem;
    }
}