.shopping_bag_wrapper .sb_title{
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
}
.shopping_bag_wrapper .sb_title h5{
    color: var(--black);
}
.shopping_bag_wrapper .sb_title h6{
    padding-left: 1rem;
    color: var(--gray-5);
}
.shopping_bag_wrapper .sb_list {
    border-bottom: 1px solid var(--gray-3);
    margin-bottom: 3rem;
}

.shopping_bag_wrapper .sb_list .row{
    padding-bottom: 3rem;
}
.shopping_bag_wrapper .sb_list .sb_price{
    color: var(--gray-5);
}
.shopping_bag_wrapper .sb_sub_total{
    padding-bottom: 3.5rem;
}
.shopping_bag_wrapper .sb_sub_total h6{
    color: var(--gray-6);
}
.shopping_bag_wrapper .sb_sub_total .row:not(:last-child){
    padding-bottom: 2rem;
}